.fish-card{
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(10, 10, 65);
    border-radius: 8px;
    box-shadow: 0px 15px 10px -15px #111;
    border-bottom: none;
    border-bottom-right-radius:0%;
    border-bottom-left-radius: 0%;
}
img{
    height: 250px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.meal-detail-link{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(240, 240, 240);
    background-color: rgb(83, 5, 172);
    padding: 5px;
    border-radius : 5px;
}